.playlist-card{
    width: 180px;

    a{
        font-size: 14px;
        font-weight: bold;
        color: white;
    }

    p{
        font-size: 14px;
        font-weight: 100;
        color: rgb(189, 189, 189);
    }
}